.single{
    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:80%;
}
.single>img{
    width:70%;
    border-radius:80px;
    margin-top:50px;
}
.single>p{
    margin-top:30px;
    font-family: 'Varela Round', sans-serif;
    font-weight:100;
    color:#59656d;
    padding:15px;
    margin-left:11px;
    line-height:24px;
    padding-bottom:80px;
    text-indent:20px;
    text-align:justify;

}
.vote{
    position:absolute;
    left:150px;
    top:280px;
    width:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.vote>i{
    cursor:pointer;
    margin-top:20px;
}
.vote>img{
    width:44px;
    cursor:pointer;
}
.vote>span{
    margin:20px 0;

    font-family: 'Varela Round', sans-serif;
    line-height:24px;
    position:relative;
    right:-10px;
}