.cover{
    display:flex;
    justify-content:space-around;
    background-color:transparent;
    align-items:center;
    height:100px;
    postion:sticky;
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    width:400px;
    flex:3;
    cursor:pointer;
}
.center{
    display:flex;
    flex:6;
}
.center>ul{
    display:flex;
    flex:6;
    align-items:center;
    justify-content:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.itemsCover{
    background:transparent;
}
.navItems{
    z-index:8;
    margin-right:20px;
    font-size:18px;
    font-weight:300;
    cursor:pointer;
    background-color:transparent;
    transition: 0.5s;


}
.navItems:hover{
   
    font-size:26px
   
}


  
.right{
    display:flex;
    flex:3;
    display:flex;
    align-items:center;
}
.right>div{
    margin-left:15px;

}
.profileImage{
    width:75px;
    border-radius:50px 20px;
    cursor:pointer;
}
.searchIcon{
    cursor:pointer;
}